div.wrapper {
    position: fixed !important;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

div.top {
    background-color: black;
}

div.bottom {
    background-color: white;
}

div.top,
div.bottom {
    height: 50%;
    position: relative;
    font-family: Helvetica, Arial, sans-serif;
}

#closing {
    position: sticky;
    float: left;
}